.title {
  display: block;
  margin-bottom: var(--mantine-spacing-md);
}

.article {
  padding: var(--mantine-spacing-md) 0;
  &:not(:last-child) {
    border-bottom: rem(1px) solid
      light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
  }

  &:hover {
    .actionIcon {
      visibility: visible;
    }
  }
}

.actionIcon {
  visibility: hidden;
  transition: visibility 150ms ease;
}

.headerBorder {
  border-bottom: 1px solid var(--mantine-color-gray-5);
}
